.twoColumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.firstCurrency {
    grid-column: 1 span 1;
}

.firstCurrency p {
    text-align: right;
}

.secondCurrency {
    grid-column: 2 span 1;
}

.secondCurrency li {
    list-style: none;
}